.slide-arrow {
    width: 4%; /* Adjust to desired size */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
  }
  
  .slide-arrow-left {
    left: 0;
    z-index: 10;
  }
  
  .slide-arrow-right {
    right: 0;
  }
