.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.5s; /* Add transition effect */
}

.home-button a {
  color: inherit; /* Inherit color from parent .home-button */
  text-decoration: none;
  transition: color 0.5s;
}